/*
Theme Name: Test One up
Description: Test One up WordPress Theme
Version: 1.0.0
Author: Shankaran Patel (shankaran.patel)
Author URI: https://www.lazyinfotech.com

License: MIT
License URI: http://opensource.org/licenses/mit-license.php
*/

/* Common for all
================================================================= */
body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    border: none;
}

.navbar-toggle {
    margin-top: 20px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #cccccc;
}

.Body.Application {
    min-height: 600px;
}

.header__image img {
    width: 100%;
}

.search-form {
    margin-top: 20px;
}

.form-control {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
}

.section-header {
    font-family: 'Raleway', sans-serif;
    display: block;
    width: 100%;
    padding-top: 50px;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: inherit;
    color: #333333;
}

.section-header:after {
    border-bottom: 2px solid #ff9933;
    content: '';
    display: block;
    width: 60px;
    margin: auto;
    padding-top: 10px;
}

/* Header
================================================================= */
.Header .navbar {
    min-height: 70px;
}

.Header .navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 500;
}

.Header .navbar-brand {
    height: 70px;
    padding: 25px 15px;
}

/* Footer
================================================================= */
.Footer {
    background: #222;
    text-align: center;
    color: #ccc;
    padding: 20px 0 10px 0;
}

.Footer .footer-social-nav {
    text-align: center;
    max-width: 365px;
    margin: auto;
    float: none;
}

.Footer .navbar {
    min-height: 0;
}

.Footer .footer-social-nav a {
    font-size: 24px;
    padding-bottom: 5px;
    padding-top: 0;
}

.Footer .copyright {
    color: #999999;
}

.Footer .nav > li {
    display: inline-block;
}

/* Contact form
================================================================= */
.contact-form-section {
    max-width: 75%;
    margin: auto;
}

@media screen and (max-width: 768px ) {
    .contact-form-section {
        max-width: 95%;
    }
}

.contact-form-wrapper {
    margin: 50px auto;
}

.contact-form-wrapper textarea {
    min-height: 131px;
}

.contact-form-wrapper .btn-primary {
    margin-top: 20px;
    background: #ff9966;
    border: #ff9933;
    text-align: center;
}

.thank__you--wrapper {
    padding: 50px 0 80px 0;
    display: none;
}

.testoneup-thankyou-modal .modal-header {
    border: none;
}

.testoneup-thankyou-modal .section-header {
    padding: 0px
}

.modal-backdrop.in {
    opacity: 0.5;
}
